n8n/tianzifang-workflow.json
{
  "updatedAt": "2026-06-03T03:32:31.554Z",
  "createdAt": "2026-06-02T00:21:17.922Z",
  "id": "xVrjM86X1PHTDm5N",
  "name": "田子坊数据采集",
  "description": "每5分钟采集(7-18点): gov_tour(在园人数) + weather(天气) + holiday(节假日)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 7-18 * * *"
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "每5分钟触发",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://tourist.whlyj.sh.gov.cn/api/statistics/getViewTourist",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Referer",
              "value": "https://tourist.whlyj.sh.gov.cn/MobileWebSite/Tourist_Main.html"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-gov",
      "name": "获取景区数据",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://wttr.in/Shanghai?format=j1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "node-weather",
      "name": "获取天气",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst nowText = new Date().toLocaleString('sv-SE', { timeZone: 'Asia/Shanghai' }).replace(' ', 'T');\nconst ts = `${nowText.substring(0, 16)}:00+08:00`;\n\nfunction sqlText(value) {\n  if (value === null || value === undefined) return 'NULL';\n  return `'${String(value).replace(/'/g, \"''\")}'`;\n}\n\nfunction sqlNumber(value) {\n  const number = Number(value);\n  return Number.isFinite(number) ? String(number) : 'NULL';\n}\n\nfunction addRecord({ source, metric, value = null, textValue = null, unit = '', confidence = 'measured', raw = {}, recordTs = ts }) {\n  const sql = `\n    INSERT INTO crowd_data (ts, source, metric, value, text_value, unit, confidence, raw_json, created_at)\n    VALUES (${sqlText(recordTs)}, ${sqlText(source)}, ${sqlText(metric)}, ${sqlNumber(value)}, ${sqlText(textValue)}, ${sqlText(unit)}, ${sqlText(confidence)}, ${sqlText(JSON.stringify(raw || {}))}, NOW())\n    ON CONFLICT (ts, source, metric) DO UPDATE SET\n      value = EXCLUDED.value,\n      text_value = EXCLUDED.text_value,\n      unit = EXCLUDED.unit,\n      confidence = EXCLUDED.confidence,\n      raw_json = EXCLUDED.raw_json,\n      created_at = NOW()\n    WHERE crowd_data.value IS DISTINCT FROM EXCLUDED.value\n      OR crowd_data.text_value IS DISTINCT FROM EXCLUDED.text_value\n      OR crowd_data.unit IS DISTINCT FROM EXCLUDED.unit\n      OR crowd_data.confidence IS DISTINCT FROM EXCLUDED.confidence\n      OR crowd_data.raw_json IS DISTINCT FROM EXCLUDED.raw_json\n  `;\n  results.push({ sql, label: `${source}.${metric}` });\n}\n\n// 1. Gov tour\ntry {\n  const govData = $('获取景区数据').first().json;\n  const spot = (govData.rows || []).find((r) => String(r.NAME || '').includes('田子坊'));\n  if (spot && spot.NUM !== undefined && spot.NUM !== null) {\n    let skip = false;\n    if (spot.TIME) {\n      const apiTime = new Date(`${spot.TIME.replace(' ', 'T')}+08:00`);\n      if ((Date.now() - apiTime.getTime()) / 60000 > 30) skip = true;\n    }\n    if (!skip) {\n      addRecord({\n        source: 'gov_tour',\n        metric: 'in_park_count',\n        value: spot.NUM,\n        unit: '人',\n        confidence: 'measured',\n        raw: {\n          source: 'sh_a_scenic_realtime',\n          code: spot.CODE,\n          name: spot.NAME,\n          time: spot.TIME,\n          grade: spot.GRADE,\n          comfort: spot.SSD,\n          max_num: spot.MAX_NUM,\n          type: spot.TYPE,\n          district: spot.DNAME,\n        },\n      });\n    }\n  }\n} catch (e) {\n  addRecord({ source: 'collector:gov_tour', metric: 'collector_status', value: 0, textValue: 'error', confidence: 'unavailable', raw: { error: e.message } });\n}\n\n// 2. Weather - wttr.in format=j1\ntry {\n  const wData = $('获取天气').first().json;\n  const c = wData.current_condition?.[0] || {};\n  const today = wData.weather?.[0] || {};\n  const desc = c.lang_zh?.[0]?.value || c.weatherDesc?.[0]?.value || '';\n\n  addRecord({ source: 'weather', metric: 'temperature', value: c.temp_C, unit: '℃', raw: { feels_like: Number(c.FeelsLikeC) } });\n  addRecord({ source: 'weather', metric: 'humidity', value: c.humidity, unit: '%' });\n  addRecord({ source: 'weather', metric: 'wind_speed', value: c.windspeedKmph, unit: 'km/h' });\n  if (today.maxtempC != null) addRecord({ source: 'weather', metric: 'temperature_max', value: today.maxtempC, unit: '℃' });\n  if (today.mintempC != null) addRecord({ source: 'weather', metric: 'temperature_min', value: today.mintempC, unit: '℃' });\n  if (desc) addRecord({ source: 'weather', metric: 'weather_desc', textValue: desc, raw: { raw: c } });\n} catch (e) {\n  addRecord({ source: 'collector:weather', metric: 'collector_status', value: 0, textValue: 'error', confidence: 'unavailable', raw: { error: e.message } });\n}\n\n// 3. Holiday - use day-start timestamp so repeated N8N runs update one daily row per metric.\ntry {\n  const date = ts.substring(0, 10);\n  const recordTs = `${date}T00:00:00+08:00`;\n  const [year, month, day] = date.split('-').map(Number);\n  if (year !== 2026) throw new Error(`Holiday year ${year} is not configured`);\n  const weekday = new Date(`${date}T12:00:00+08:00`).getDay();\n  const wd = weekday === 0 ? 6 : weekday - 1;\n  const holidays = [[1,1,'元旦'],[1,2,'元旦假期'],[1,3,'元旦假期'],[2,15,'春节假期'],[2,16,'除夕'],[2,17,'春节'],[2,18,'春节假期'],[2,19,'春节假期'],[2,20,'春节假期'],[2,21,'春节假期'],[2,22,'春节假期'],[2,23,'春节假期'],[4,4,'清明节'],[4,5,'清明假期'],[4,6,'清明假期'],[5,1,'劳动节'],[5,2,'劳动节假期'],[5,3,'劳动节假期'],[5,4,'劳动节假期'],[5,5,'劳动节假期'],[6,19,'端午节'],[6,20,'端午假期'],[6,21,'端午假期'],[9,25,'中秋节'],[9,26,'中秋假期'],[9,27,'中秋假期'],[10,1,'国庆节'],[10,2,'国庆假期'],[10,3,'国庆假期'],[10,4,'国庆假期'],[10,5,'国庆假期'],[10,6,'国庆假期'],[10,7,'国庆假期']];\n  const workdays = [[1,4,'元旦调休上班'],[2,14,'春节调休上班'],[2,28,'春节调休上班'],[5,9,'劳动节调休上班'],[9,20,'国庆调休上班'],[10,10,'国庆调休上班']];\n  let isHoliday = 0;\n  let holidayName = '';\n  for (const [m, d, name] of holidays) {\n    if (m === month && d === day) { isHoliday = 1; holidayName = name; break; }\n  }\n  let isWorkdayOverride = false;\n  for (const [m, d, name] of workdays) {\n    if (m === month && d === day) { isWorkdayOverride = true; holidayName = name; break; }\n  }\n  const isWorkday = (wd < 5 && !isHoliday) || isWorkdayOverride ? 1 : 0;\n\n  addRecord({ source: 'holiday', metric: 'is_holiday', value: isHoliday, unit: 'bool', raw: { holiday_name: holidayName }, recordTs });\n  addRecord({ source: 'holiday', metric: 'is_workday', value: isWorkday, unit: 'bool', raw: { weekday: wd, override: isWorkdayOverride }, recordTs });\n  addRecord({ source: 'holiday', metric: 'weekday', value: wd, unit: 'day', raw: {}, recordTs });\n} catch (e) {\n  addRecord({ source: 'collector:holiday', metric: 'collector_status', value: 0, textValue: 'error', confidence: 'unavailable', raw: { error: e.message } });\n}\n\nreturn results.map((r) => ({ json: r }));\r\n"
      },
      "id": "node-merge",
      "name": "合并写入",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ep-sweet-river-aovxgd0t-pooler.c-2.ap-southeast-1.aws.neon.tech/sql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Neon-Connection-String",
              "value": "={{ $env.NEON_URL }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ query: $json.sql }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "node-insert",
      "name": "写入Neon",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn [{ json: { count: items.length, labels: items.map(i => i.json.label || 'unknown'), status: 'ok' } }];"
      },
      "id": "node-summary",
      "name": "汇总结果",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "每5分钟触发": {
      "main": [
        [
          {
            "node": "获取景区数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取景区数据": {
      "main": [
        [
          {
            "node": "获取天气",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取天气": {
      "main": [
        [
          {
            "node": "合并写入",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并写入": {
      "main": [
        [
          {
            "node": "写入Neon",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入Neon": {
      "main": [
        [
          {
            "node": "汇总结果",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "versionId": "52bcf8b5-e700-44a9-b926-9d0267e768f3"
}
